.git/
.claude/
.tmp/
docs/
**/.idea/
**/.vs/
**/*.user

# Frontend
**/node_modules/
frontend/dist/
**/.env
**/.env.*

# Backend
**/bin/
**/obj/
**/appsettings.Development.json
**/appsettings.Local.json
backend/RigForgeSolution/RigForge/wwwroot/
